.App {
  text-align: center;
  width: 60%;
  margin: 5vh auto 0 auto;
}

.blogs-section {
  text-align: left;
}

.blogs-section__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}

.blogs-section__header-container__header {
  font-size: 2rem;
  margin: 0;
}
